#main-content {
    margin-top: 50px;
    margin-left: 50px;
}

#file-path-tree li {
    display: block;
}


#file-path-tree .switcher {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.1s ease-out, border-color 0.15s ease-out;
    border: 7px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, 0.4);
    transform: rotate(-90deg);
}


#file-path-tree .switcher.expanded {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.1s ease-out, border-color 0.15s ease-out;
    border: 7px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, 0.4);
    transform: rotate(0) translate(-2px, 2px);
}

#file-path-tree .no-switcher {
    margin-left: 13px;
}

#file-path-tree .rendered-element {
    display: inline-block;
    margin-left: 4px;
}

#file-path-tree .switcher:hover {
    border-top: 7px solid rgba(0, 0, 0, 0.65);
}

#file-path-tree ul {
    overflow: hidden;
    transition: height 0.1s ease-out;
    height: auto;
}